/* button animation */

.button-shrink {
    color: #65b5f6;
    background-color: transparent;
    border: 1px solid #65b5f6;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .button-shrink:hover {
    transform: scale(0.8);
  }
  
  .button-swing {
    color: #65b5f6;
    background-color: transparent;
    border: 1px solid #65b5f6;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .button-swing:focus {
    animation: swing 1s ease;
    animation-iteration-count: 1;
  }
  
  @keyframes swing {
    15% {
      transform: translateX(5px);
    }
    30% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(3px);
    }
    65% {
      transform: translateX(-3px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .flex-evenly-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* custom styles */

.profile-hero-section {
  @media screen and (max-width:768px){
    margin-top: 56px !important;
  }
  background-color: rgba(black,0.1  );
}
.profile-hero {
  display: flex;
  justify-content: center;
  padding: 36px;
  align-items: center;
  flex-direction: column;
  .img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    img {
      border: 1px solid rgba(black,0.7);
      width: 90%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  h2 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 22px;
  }
  p {
    font-weight: 300;
    color: rgba(black,0.4 );
    margin-bottom: 16px;
    text-align: center;
    line-height: 1.6;
    font-size: 22px;
  }
  .profile-settings {
    margin: 16px 0;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(black,0.1  );
  }
}


/* feeds section */
.padding {
  padding: 36px;
  width: 80%;
}