/* button animation */

.button-shrink {
    color: #65b5f6;
    background-color: transparent;
    border: 1px solid #65b5f6;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .button-shrink:hover {
    transform: scale(0.8);
  }
  
  .button-swing {
    color: #65b5f6;
    background-color: transparent;
    border: 1px solid #65b5f6;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .button-swing:focus {
    animation: swing 1s ease;
    animation-iteration-count: 1;
  }
  
  @keyframes swing {
    15% {
      transform: translateX(5px);
    }
    30% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(3px);
    }
    65% {
      transform: translateX(-3px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .flex-evenly-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* custom styles */


  .single-article-hero {
    @media screen and (max-width:768px){
      margin-top: 56px !important;
    }
    background-color: rgba(#333,1);
    
    margin-bottom: 24px;
    box-shadow: inset 0 0 16px 10px rgba(grey,0.2);
}

.single-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        padding: 36px 36px 16px 36px;
        color: white;
        font-size: 36px;
        font-weight: 550;
        margin: 36px 0 16px 0;
    }
}

.person {
    display: flex;
    align-items: center;
    
    img {
      object-fit: cover;
      height: 48px;
      margin-right: 8px;
      width: 48px;
      border-radius: 50%;
    }
  }

  .name-date {
    display: flex;
    flex-direction: column;
    .name {
      color: rgba(#5cb85c, 1);
      margin-bottom: 4px;
      font-size: 18px;
      &:hover {
        text-decoration: underline 2px solid rgba(#5cb85c, 1);
      }
    }
    .clr-white {
      color: rgba(white, 0.7) !important;
    }
    .date {
      font-size: 13px;
    }
  }
.apdding {
  padding: 0 36px 36px 36px !important;
  .follow-btn {
    margin: 0 36px;
    padding: 8px 16px;
  }
}
.main-single-article {
    
    article {
        p {
            line-height: 1.6;
            padding: 36px;
            font-size: 20px;
            font-weight: 350;
        }
    }
}

.taglist {
    border-bottom: 1px solid rgba(black, 0.2);
    margin: 0 36px 0 36px;
    padding: 0 0 48px 0;
}
.div {
    text-decoration: none;
    border-radius: 16px;
    border: 1px solid rgba(black, 0.2);
    color: rgba(black, 0.4);
    padding: 4px 6px;
    margin: 4px;
    &:hover {
      background-color: rgba(#5cb85c, 1);
      color: white;
    }
}

.comments-section {
    flex-direction: column;
    margin: 36px;
    h6 {
        margin: 16px 0 0 0;
        word-spacing: 2px;
        color: rgba(black, 0.6);
        font-weight: 400;
    }
}

.comments-ul {
  width: 60%;
  margin: 24px;
  @media screen and (max-width:768px){
    width: 80%;
  }
}

.profile {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width:768px){
        width: 80%;
    }
    border: 1px solid rgba(black, 0.2);
    border-radius: 8px;
    .comments-text {
        padding: 16px;
        font-size: 16px;
        color: rgba(black, 0.5);
        font-weight: 300;
        border-bottom: 1px solid rgba(black, 0.2);
        margin: 0;
    }
    .margin-bottom {
        padding: 16px;
        background-color: rgba(black, 0.1) !important;
    }
    .align-self {
      align-self: flex-end;
    }
}
.color {
    color: rgba(black, 0.6) !important;
}
.nav-link {
    margin-left: 4px;
    margin-right: 4px;
}

.form {
  // border: 1px solid rgba(black, 0.1);
  border-radius: 8px;
  width: 60%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @media screen and (max-width:768px){
    width: 80%;
  }
  textarea {
    padding: 16px;
    resize: none;
    border: 0;
    &:focus {
      outline: 1px solid rgba(black, 0.6);
    }
    display: block;
    border-radius: 8px 8px 0 0;
    border: 1px solid rgba(black, 0.1);
  }
  input {
    padding: 8px;
    width: 120px;
    align-self: flex-end;
    color: #5cb85c;
  }
}

.a-padding {
  padding: 6px 16px !important;
}
.display-none {
  display: none !important;
}