/* button animation */
.button-shrink {
  color: #65b5f6;
  background-color: transparent;
  border: 1px solid #65b5f6;
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-shrink:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.button-swing {
  color: #65b5f6;
  background-color: transparent;
  border: 1px solid #65b5f6;
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button-swing:focus {
  -webkit-animation: swing 1s ease;
          animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-between-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-evenly-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* custom styles */
.single-article-hero {
  background-color: #333333;
  margin-bottom: 24px;
  -webkit-box-shadow: inset 0 0 16px 10px rgba(128, 128, 128, 0.2);
          box-shadow: inset 0 0 16px 10px rgba(128, 128, 128, 0.2);
}

.single-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-article h1 {
  padding: 36px 36px 16px 36px;
  color: white;
  font-size: 36px;
  font-weight: 550;
  margin: 36px 0 16px 0;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 48px;
  margin-right: 8px;
  width: 48px;
  border-radius: 50%;
}

.name-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name-date .name {
  color: #5cb85c;
  margin-bottom: 4px;
  font-size: 18px;
}

.name-date .name:hover {
  -webkit-text-decoration: underline 2px solid #5cb85c;
          text-decoration: underline 2px solid #5cb85c;
}

.name-date .clr-white {
  color: rgba(255, 255, 255, 0.7) !important;
}

.name-date .date {
  font-size: 13px;
}

.apdding {
  padding: 0 36px 36px 36px !important;
}

.main-single-article article p {
  line-height: 1.6;
  padding: 36px;
  font-size: 20px;
  font-weight: 350;
}

.taglist {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 36px 0 36px;
  padding: 0 0 48px 0;
}

.div {
  text-decoration: none;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  padding: 4px 6px;
  margin: 4px;
}

.div:hover {
  background-color: #5cb85c;
  color: white;
}

.comments-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 36px;
}

.comments-section h6 {
  margin: 16px 0 0 0;
  word-spacing: 2px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.profile {
  margin: 24px;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .profile {
    width: 80%;
  }
}

.profile .comments-text {
  padding: 16px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
}

.profile .margin-bottom {
  padding-top: 16px;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.color {
  color: rgba(0, 0, 0, 0.6) !important;
}

.nav-link {
  margin-left: 4px;
  margin-right: 4px;
}
/*# sourceMappingURL=singlestyle.css.map */