/* button animation */
.button-shrink {
  color: #65b5f6;
  background-color: transparent;
  border: 1px solid #65b5f6;
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-shrink:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.button-swing {
  color: #65b5f6;
  background-color: transparent;
  border: 1px solid #65b5f6;
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button-swing:focus {
  -webkit-animation: swing 1s ease;
          animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-between-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-evenly-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.hamburger-menu .bar {
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 3px 0px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hamburger-menu:hover .top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu:hover .middle {
  opacity: 0;
}

.hamburger-menu:hover .bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* custom styles */
.header {
  padding: 16px 36px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 36px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.logo {
  color: #5cb85c;
  font-size: 32px;
  font-weight: 650;
  text-decoration: none;
  z-index: 1;
}

.nav-links {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  margin: 0 16px;
}

.nav-links:hover {
  color: rgba(0, 0, 0, 0.8);
}

.nav-active {
  color: rgba(0, 0, 0, 0.8);
}

/* toggle-bars */
#toggle, #bars {
  display: none;
}

@media screen and (max-width: 768px) {
  #bars {
    display: inline-block;
    z-index: 1;
  }
  .nav-menu {
    display: none;
  }
  #toggle:checked ~ .nav-menu {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: lightblue;
    margin-top: 66px;
  }
  #toggle:checked ~ .nav-menu .nav-links {
    font-size: 32px;
    margin-bottom: 36px;
    color: #5cb85c;
  }
  #toggle:checked ~ .nav-menu .nav-links:hover {
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 8px 16px;
    border-radius: 8px;
    color: blue;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-text-decoration: underline 2px solid #5cb85c;
            text-decoration: underline 2px solid #5cb85c;
  }
}
/*# sourceMappingURL=header.css.map */